<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ query }} Recipher</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico"/>
    <style>
        input[type="text"] {
            size: 400px;
            width: 400px;
            height: 35px;
        }

        .form-group-title {
            font-size: 20px;
            margin-bottom: 0;
        }

        .form-group-tags {
            font-size: 10px;
            color: gray;
        }

        .thumbnail img {
            float: left;
            width: 100%;
            height: auto;
            padding: 0px;
        {#object-fit: cover;#}{#overflow: hidden;#}
        }

        .col-sm-6 {
        {#float: left;#} width: 200px;
            height: 350px;
            margin-bottom: 50px;
            padding: 0px;
            overflow: hidden;
            border: none;
        }

        .form-group {
            overflow: hidden;
            border: none;
        }

        .step-links
        {
            {#text-align: center;#}
            margin-left: 375pt;
        }

    </style>
</head>
{% block head %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/search/">HOME</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                {#                <ul class="nav navbar-nav navbar-right">#}
                {#                    <li><input type="submit" class="btn btn-primary" value="Add Customer"></li>#}
                {#                </ul>#}
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container-fluid bg-3 text-center">
        <img src="/static/images/icon.png" width="96" height="96" alt="Recipe Searcher"/>
        <span style="font-size: 40pt; vertical-align: middle">
            <strong>&nbsp;Recipe Searcher</strong>
        </span>
        <br/>
        <br/>
        <form method="get" action="" class="form" role="form">
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <div class="form-group">
                <label>
                    <input type="text" name="q" style="vertical-align: middle" value="{{ query }}">
                </label>
                <input type="submit" class="btn btn-primary" value="Search" style="vertical-align: middle">
            </div>

            {% if query %}
                <h3></h3>

                <div class="container-fluid bg-4 text-left">
                    <div class="row">

                        {% for result in page.object_list %}

                            <div class="col-sm-6" style="border: none;">
                                <div class="thumbnail" style="border: none;">

                                    <div class="form-group-title">
                                        <a href={{ result.url }}>{{ result.name }}</a>
                                    </div>

                                    <div class="form-group-tags">
                                        {% if result.time != '-1' %}
                                            {{ result.time }};&nbsp;{{ result.tags }}
                                        {% else %}
                                            {{ result.tags }}
                                        {% endif %}
                                    </div>

                                    <div class="form-group">
                                        <p>{{ result.description }} </p>
                                    </div>
                                    <div class="form-group">
                                        <img src={{ result.imgurl }} height="200" alt="Sorry, image not found."/>
                                    </div>

                                    {#                    <div class="form-group">#}
                                    {#                        <p>Email : {{result.email}} </p>#}
                                    {#                    </div>#}
                                    {#                    <div class="form-group">#}
                                    {#                        <p>Status : {{result.customer_status}} </p>#}
                                    {#                    </div>#}
                                </div>
                            </div>
                        {% empty %}
                            <p style="text-align:center">No results found.</p>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                        {% endfor %}
                        <div class="pagination">
                            <span class="step-links">
                                {% if page.has_previous %}
                                    <a href="?q={{ query }}&page={{ page.previous_page_number }}">Previous</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ page.number }} of {{ page.paginator.num_pages }}
                                </span>

                                {% if page.has_next %}
                                    <a href="?q={{ query }}&page={{ page.next_page_number }}">Next</a>
                                {% endif %}
                            </span>
                        </div>

                    </div>
                </div>

            {% else %}
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>

            {% endif %}
            <footer>
                Course project for the Web IR course. Created by Yao Feng.
            </footer>
        </form>
    </div>
{% endblock %}
