<!DOCTYPE html>
<html>
  <head>
    <title>Constructive &amp; Co.</title>
{#    ＜link＞元素用来载入css文件到页面中，href属性的值就是你所创建的脚本的路径  #}
    <link rel="stylesheet" href="../static/css/add-content.css" /> <!--这里没有使用DTL语法-->
  </head>
  <body>
    <h1>Constructive &amp; Co.</h1>
{#    ＜script＞元素用来载入JavaScript文件到页面中，src属性的值就是你所创建的脚本的路径#}
    <script src="../static/js/add-content.js"></script> <!--使用HTML原生语法-->
    <p>For all orders and inquiries please call <em>555-3344</em></p>
  </body>
</html>
